body
{
    text-align: center;
    color: white;
    
}
h1
{
    border: 4px solid white;
    border-radius: 10px;
    font-size:60px;
}
p
{
   font-size: 20px; 
}
li
{
    text-align: center;   
}
img
{
    margin-top: 20px;   
}
#centeredmenu {
   width: 100%;
   background: #fff;
   overflow: hidden;
   position: relative;
}
#centeredmenu ul {
   clear: left;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   text-align: center;
}
#centeredmenu ul li {
   display: block;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   right: 50%;
}
#centeredmenu ul li a {
   display: block;
   margin: 0 0 0 1px;
   padding: 3px 10px;
   background: #ddd;
   color: #000;
   text-decoration: none;
   line-height: 1.3em;
}
#centeredmenu ul li a:hover {
   background: #369;
   color: #fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color: #fff;
   background: #000;
   font-weight: bold;
}

